.toast-wrapper {
	position: absolute;
	left: 10%;
	top: 20%;
	display: flex;
	flex-direction: column;
	width: 210px;	
	padding: 8px;
	border: 2px solid #979797;
	border-radius: 2px;
	opacity: 1;
	transition: opacity 0.5s;
	z-index: 2;
}
.toast-title {
	font-size: 18px;
	color: #979797;
}
.toast-content {
	font-size: 16px;
	color: #979797;
	text-align: left;
}
